<div class="container-fluid">
    <div class="row">
        <div >
            <div class="dropdown" style="margin-left: 600px;">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Type de projet
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Site web</a>
                  <a class="dropdown-item" href="#">Application web</a>
                  
                </div>
              </div>
        </div>
        <div class="col-md-4" style="background-color: blue; margin-top: 30px;">
            <h1 style="margin-left: 100px;">site web</h1>
            <div>
                <div class="card" style="width: 18rem; ">
                    <img class="card-img-top" src="/assets/accueil-golf-de-rebetz.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Conception et stratégie SEO du nouveau site web d’un domaine de Golf exceptionnel au cœur du Vexin.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: crimson; margin-top: 30px;">
            <h1 style="margin-left: 100px;">site vitrine</h1>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/application-orient-action.png" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Portail intelligent pour déceler ses aspirations et compétences pour réussir sa reconversion professionnelle et trouver l’emploi idéal.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: aqua; margin-top: 30px;">
            <h1 style="margin-left: 80px;">Application web</h1>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/ernest-karchmit-ZcDjyPNLQ8w-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4" style="background-color: chartreuse;">
            <h1 style="margin-left: 100px;">site vitrine</h1>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/ernest-karchmit-ZcDjyPNLQ8w-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: darkgray;">
            <h1 style="margin-left: 50px;">site vitrine</h1>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/ernest-karchmit-ZcDjyPNLQ8w-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-4" style="background-color: bisque;">
            <h1 style="margin-left: 100px;">site vitrine</h1>
            <div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/assets/ernest-karchmit-ZcDjyPNLQ8w-unsplash.jpg" alt="Card image cap">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
        </div>

    </div>


</div>
