<div class="container-fluid custom-container-1" style="height: 100vh;">
    <div class="row">
        <div class="col-md-6">
            <h1 style="margin-top: 100px; text-align: center; color: aliceblue; font-size: 50px;">
                Votre agence de web 
            </h1>
            <p style="margin-top: 50px; text-align: justify; font-family: 'Times New Roman', Times, serif; font-weight: 300;">Nous vous accompagnons dans la croissance de votre entreprise en développant votre site internet Webflow sur-mesure ainsi que des campagnes publicitaires pour booster vos ventes.</p>
            <button routerLink="/contact" style="margin-left: 250px; margin-top: 100px; background-color: red; border-radius: 25px;">Obtenir un devis</button>
        </div>
        <div class="col-md-6" >
            <img src="/assets/649c30623e4af2479fdccee1_We-R Agence digitale marketing bruxelles - site web-p-1600.webp" style="width: 100%; height: 100%;  margin-top: 100px;"/>

        </div>

    </div>

</div>
<div class="container-fluid custom-container-2" style="height: 75vh;">
    <div class="row">
        <div class="col-md-6">
          <h1 style="margin-top: 150px; text-align: justify; justify-content: center; font-size: 35px; font-weight: 800; color: black; width: 500px; margin-left: 100px;">Concevez et créez les produits innovants de demain</h1>
          <p style="width: 500px; margin: 100px; text-align: justify; font-weight: 500;">Quelque soit vos objectifs, nous serons le moteur d’activation qui vous permettra de réussir votre transformation digitale et de propulser vos idées sur le marché. Nous marions la technologie, l’intelligence humaine et une méthodologie éprouvée pour créer, moderniser, simplifier et optimiser les projets de nos clients.</p>
        </div>
        <div class="col-md-6">
            <p class="p22" style=" height: 500px; font-size: 40px; color: aliceblue; font-weight: 600; padding-top: 20px; text-align: center;">Le succès repose sur un subtil équilibre entre méthode, qualité, expérience utilisateur et communication.</p>

        </div>

    </div>

</div>
<div class="container-fluid custom-container-3" style="height: 70vh; ">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-6">
            <img src="/assets/Groupe-607.png" style="  width: 100%; height: 100%;"/>

        </div>
        <div class="col-md-6">
            <h1 style="margin-top: 100px;">Concrétisez votre solution digitale de manière efficace</h1>
            <p>Notre accompagnement est continu et immersif. Nous plongeons au coeur de votre organisation pour comprendre les enjeux et identifier les besoins de vos utilisateurs finaux. Notre ambition est de digitaliser de manière stratégique et innovante les liens que vous avez avec vos partenaires, vos clients et vos employés.</p>

        </div>

    </div>

</div>
<div class="container-fluid custom-container-4">
    <h1 style="margin-left: 350px;">Un accompagnement de bout en bout</h1>
    <div class="row " style="margin-top: 100px;">
        <div class="col-md-4" style="background: transparent;">
           <h1 style="margin-left: 100px; ">Étapes</h1>
        </div>
        <div class="col-md-4" style="background: transparent;">
            <h1>Description des objectifs</h1>

        </div>
        <div class="col-md-4" style="background: transparent;">
            <h1 style="margin-left: 180px;">Livrables</h1>

        </div>

    </div>
    <div class="row">
        <div class="col-md-4" style="border: black solid 1px; width: 200px; margin-left: 100px;">
          <h1 style="margin-top: 40px; font-size: 30px; color: brown;">1. conception</h1>

        </div>
        <div class="col-md-4" style="border: violet solid 1px; width: 800px; margin-left: 20px;">
           <ul style="margin-top: 40px;">
            <li>Cadrer le produit : Définir un MVP en fonction de la valeur ajoutée et du budget.</li>
            <li>Prototypage : Créer les wireframes (UX) pour les écrans et les parcours principaux.</li>
            <li>Architecture technique : Définir l’architecture technique générale de l’application</li>
           </ul>

        </div>
        <div class="col-md-4" style="border: red solid 1px; width: 200px; margin-left: 20px;">
        <ul style="margin-top: 40px;">
            <li>Choix des fonctionnalités clés</li>
            <li>Spécifications (user stories)</li>
            <li>Architecture technique générale</li>
        </ul>
        </div>

    </div>
    <div class="row" style="margin-top: 15px; ">
        <div class="col-md-4" style="border: black solid 1px; width: 200px;  margin-left: 100px;">
          <h1 style="margin-top: 40px; font-size: 30px; color: blueviolet;">2.Production</h1>

        </div>
        <div class="col-md-4" style="border: violet solid 1px; width: 800px;  margin-left: 20px;">
           <ul style="margin-top: 40px;">
            <li>Cadrer le produit : Définir un MVP en fonction de la valeur ajoutée et du budget.</li>
            <li>Prototypage : Créer les wireframes (UX) pour les écrans et les parcours principaux.</li>
            <li>Architecture technique : Définir l’architecture technique générale de l’application</li>
           </ul>

        </div>
        <div class="col-md-4" style="border: red solid 1px; width: 200px;  margin-left: 20px;">
        <ul style="margin-top: 40px;">
            <li>Choix des fonctionnalités clés</li>
            <li>Spécifications (user stories)</li>
            <li>Architecture technique générale</li>
        </ul>
        </div>

    </div>
    <div class="row" style="margin-top: 15px; ">
        <div class="col-md-4" style="border: black solid 1px; width: 200px;  margin-left: 100px;">
          <h1 style="margin-top: 40px; font-size: 25px; color: aqua;">3.Maintenance</h1>

        </div>
        <div class="col-md-4" style="border: violet solid 1px; width: 800px; margin-left: 20px;">
           <ul style="margin-top: 40px;">
            <li>Cadrer le produit : Définir un MVP en fonction de la valeur ajoutée et du budget.</li>
            <li>Prototypage : Créer les wireframes (UX) pour les écrans et les parcours principaux.</li>
            <li>Architecture technique : Définir l’architecture technique générale de l’application</li>
           </ul>

        </div>
        <div class="col-md-4" style="border: red solid 1px; width: 200px; margin-left: 20px;">
        <ul style="margin-top: 40px;">
            <li>Choix des fonctionnalités clés</li>
            <li>Spécifications (user stories)</li>
            <li>Architecture technique générale</li>
        </ul>
        </div>

    </div>

    <div class="row" style="height: 60vh;">
        <div class="col-md-6" >
          <p style=" margin-left: 200px; width: 400px; font-size: 15px; font-weight: 500; margin-top: 100px; text-align: justify;">L’équipe de Mayasquad couvre l’ensemble du processus de <strong style="font-weight: bold;">conception d’une application, de la naissance de votre besoin à son lancement </strong>en tant que produit complet sur le marché.

            Mais tout ne s’arrête pas là ! Nous vous accompagnons après le lancement pour faire évoluer votre application d’après les retours utilisateurs.</p>

        </div>
        <div class="col-md-6" >
        <div style=" margin-top: 80px ; background-color: lightpink; border-radius: 15px; height: 200px; justify-content: center;">
            <p style="  font-weight: 400; font-size: 20px;text-align: center; padding-top: 40px;">Stratégie produit, design UX et UI, développement multiplateforme, hébergement, maintenance et évolutions(TMA) …</p>
          <p style="font-weight: 400; font-size: 20px;text-align: center;">Nos offres sont conçues pour vous accompagner à chaque étape, selon vos besoins !</p>
        </div>
          
        </div>
        <div class="col-md-12" >
            <button style="margin-left: 450px; cursor: pointer; font-weight: bolder; text-align: center; padding: 10px 20px; border-radius: 15px; background-color: bisque;">je veux etre accompagne dans mon projet</button>

        </div>

    </div>
    </div>


