<div class="container-fluid custom-container-1">
    <div class="row " style="text-align: center; " >
        <h1 class="h11">La fabrique digitale.</h1>
    </div>
        <div class="row " >
            <div class="col-md-12">
                <h3 class="h31"> <strong>WETECH</strong> est le partenaire de vos développements web et mobile.</h3>
                
            </div>
            <div class="row " style="margin-top: 10vh;">
                <div class="col-md-4">
                    
                    <p class="p1">Nous vous accompagnons dans la croissance de votre entreprise en développant votre site internet Webflow sur-mesure ainsi que des campagnes publicitaires pour booster vos ventes.</p>
                </div>
            
            

            </div>
            
         </div>
        <div class="row "  style=" width: 200px;">
           <button class="btn btn-outline-success " style="margin-top: 100px;">+212644071444</button>
        </div>

    </div>
    

    <div class="container-fluid custom-container-2">
        <div class="row ">
            <div  >
              <h1 class="h12" >Ensemble, réalisons votre projet digital</h1> 

              </div>
            <div class="col-md-4" >
            
                <div class="card " style="width: 18rem;  height: 15rem; cursor: pointer ;  margin-top: 30px; margin-left: 30px; " (click)="redirectToLink('/votre-lien')">
                    <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                     <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                        <div>
                    <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                    <div style="display: flex; margin-top: 50px;">
                       <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                    <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                    </div>
                    <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                    </div>
                   </div>
                </div>

            </div>
            <div class="col-md-4" >
            
                <div class="card " style="width: 18rem;  height: 15rem; cursor: pointer ; margin-left: 30px; margin-top: 30px; " (click)="redirectToLink('/votre-lien')">
                    <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                     <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                        <div>
                    <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                    <div style="display: flex; margin-top: 50px;">
                       <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                    <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                    </div>
                    <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                    </div>
                   </div>
                </div>

            </div>
            <div class="col-md-4" >
            
                <div class="card " style="width: 18rem;  height: 15rem; cursor: pointer ; margin-left: 40px; margin-top: 30px; " (click)="redirectToLink('/votre-lien')">
                    <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                     <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                        <div>
                    <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                    <div style="display: flex; margin-top: 50px;">
                       <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                    <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                    </div>
                    <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                    </div>
                   </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-4" >
            
                    <div  class="card "  style="width: 18rem;  height: 15rem; cursor: pointer ; margin-left: 200px; margin-top: 30px; margin-bottom: 20px; " (click)="redirectToLink('/webapp')">
                        <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                         <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                            <div>
                        <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                        <div style="display: flex; margin-top: 50px;">
                           <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                        <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                        </div>
                        <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                        </div>
                       </div>
                    </div>
    
                </div>
                <div class="col-md-4" >
            
                    <div class="card " style="width: 18rem;  height: 15rem; cursor: pointer ; margin-left: 200px; margin-top: 30px; margin-bottom: 20px;" (click)="redirectToLink('/votre-lien')">
                        <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                         <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                            <div>
                        <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                        <div style="display: flex; margin-top: 50px;">
                           <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                        <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                        </div>
                        <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                        </div>
                       </div>
                    </div>
    
                </div>
                <div class="col-md-4" >
            
                    <div class="card " style="width: 18rem;  height: 15rem; cursor: pointer ; margin-left: 150px; margin-top: 30px; margin-bottom: 20px; " (click)="redirectToLink('/votre-lien')">
                        <div class="card-body mb-2" style="display: flex;   border-radius:  3px ;   ">
                         <i class="fa-solid fa-shop fa-2x" style="margin-left: 10px; margin-right: 10px "></i>
                            <div>
                        <h5 class="card-title" style="border-radius: 2px; " >Application Web</h5>
                        <div style="display: flex; margin-top: 50px;">
                           <p class="p3" style="background: gray; border-radius: 2px; margin-right: 10px;">Logiciel dentreprise</p>
                        <p class="p3" style="background: gray; border-radius: 2px;">CRM</p>
                        </div>
                        <p class="p3" style="background: gray; border-radius: 2px;">Portail Client</p>
                        </div>
                       </div>
                    </div>
    
                </div>

            </div>

        </div>
        </div>
        <div class="container-fluid custom-container-3" style="height: 70vh; ">
            <div class="row  "  >
                <div class="col-md-4" style="text-align: center; justify-content: center; margin-top: 200px; ">
                    <h2 style="font-weight: 300; font-family: 'Times New Roman', Times, serif; font-size: 50px;">Pourquoi nous ?</h2>
                    <p style="margin-top: 50px; color: black;">WETECH a été créée par  des experts produits qui ont saisi l'importance et la valeur ajoutée du monde numérique dans l'innovation et la transformation des entreprises. Il peut propulser votre organisation vers de nouveaux sommets tout en contribuant à un avenir plus durable, connecté et social.</p>
                    <button class="btn btn-outline-success " style="margin-top: 30px;">Faites Nous Confiance</button>

                </div>
                <div class="col-md-6" style="justify-content: center;">
                    <img src="/assets/image-44-1.png" style="margin-left: 200px; margin-top: 200px;"/>

                </div>

            </div>

        </div>
        <div class="container-fluid custom-container-4 " style="height: 100vh; ">
            <div class="row" style="margin-top: 400px;">
                <div class="col-md-6" style=" height: 100vh;   ">
                    <div style="margin-top: 200px;">
                        <h1 style="color: aliceblue; text-align: center;">Des valeurs qui font la différence</h1>
                    
                        <button *ngFor="let valeur of valeurs" (click)="onValeurSelectionnee(valeur.titre, valeur.texte)" [class.selected-title]="titreSelectionne === valeur.titre"
                        style="display: flex; margin-left: 250px; margin-top: 50px; align-items: center;" class="btn btn-primary custom-button-style">
                            {{ valeur.titre }}
                        </button>
                    </div>
                    
                    
                </div>
                <div class="col-md-6">
                    <div style="margin-top: 200px; ">
                        <h2 style="text-align: center; margin-bottom: 50px; color: greenyellow; border: 5px greenyellow solid; border-radius: 3px;">{{ titre }}</h2>
                    <p style="text-align: justify;">{{ texte }}</p>
                </div>
                    </div>
                    
            </div>
        </div>

        